{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block page_content %}
<h2><a class="btn btn-primary" href="{{ url_for('.create_project') }}">+</a>   Create New Project</h2>
{% for project, description in projects %}
<h1>{{ project }}</h1>
<blockquote class="blockquote text-center">
    <p class="mb-0">{{ description }}</p>
</blockquote>
<a class="btn btn-primary" href="{{ url_for('.validate', project=project) }}">Validate Images</a>
{% endfor %}
    <h1>Caltech</h1>
<blockquote class="blockquote text-center">
    <p class="mb-0">This is a description of the caltech project. Unforunately it doesn't really tell you much about the project itself. Instead it seems to be just acting as a placeholder so the author can see how all this css works... oh well. </p>
</blockquote>
    <a class="btn btn-primary" href="{{ url_for('.validate', project='caltech') }}">Validate Images</a>
{% endblock %}