{% extends "base.html" %}

{% block page_content %}
    <h1>Caltech</h1>
<blockquote class="blockquote text-center">
    <p class="mb-0">This is a description of the caltech project. Unforunately it doesn't really tell you much about the project itself. Instead it seems to be just acting as a placeholder so the author can see how all this css works... oh well. </p>
</blockquote>
    <a class="btn btn-primary" href="{{ url_for('.start_validation', project='caltech') }}">Validate Images</a>
{% endblock %}